@layer components {
  .bg-noise::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0.04;
    background-image: url("/svg/noise.svg");
    background-repeat: repeat;
  }
}
